.root {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 70vh;
}

.iconWrapper {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.iconSVG {
  margin-bottom: 15px;
  width: 75px;
}

@media (min-width: 768px) {
  .root {
    margin-top: 10vh;
  }
}

@media (min-width: 1024px) {
  .root {
    margin-top: 30vh;
  }

  .iconSVG {
    width: 150px;
  }
}

@media (min-width: 1440px) {
  .root {
    margin-top: 10vh;
    width: 75%;

  }

  .iconWrapper {
    margin-bottom: 85px;
  }
}

@media (min-width: 1920px) {
  .root {
    margin-top: 25vh;
    width: 50%;
  }

  .iconWrapper {
    margin-bottom: 85px;
  }
}