.root {}

.navbarContainer {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.circleIcon {
  position: absolute;
  top: 3px;
  left: 17vw;
  width: 10px;
  height: 10px;
  background-color: #FF6B6B;
  border-radius: 50%;
}

.navbar__button {
  width: 75px;
  height: 30px;
  border: 2px solid #FFFFFF;
  border-radius: 100px;
  background-color: transparent;
  color: #ffffff;
}

@media(min-width:1440px) {
  .headerName {
    font-size: 30px;
  }

  .circleIcon {
    position: absolute;
    top: 0px;
    left: 120px;
    width: 29px;
    height: 29px;
  }

  .navbar__button {
    width: 147px;
    height: 58px;
    font-size: 20px;
  }

}