.root {
  margin: 100px auto;
  padding: 0 15px;
}

.testimonials_ctn_header {
  font-size: 50px;
  color: #1E1C24;
  text-align: center;
  margin-bottom: 80px;
}

.testimonials_container {
  flex-direction: column;
}

@media(min-width: 768px) {
  .root {
    margin: 70vh auto;
  }

  .testimonials_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: unset;
  }
}

@media(min-width: 1024px) {
  .testimonials_container {
    flex-wrap: unset;
    flex-direction: row;
  }
}

@media(min-width: 1440px) {
  .root {
    margin: 650px auto;
    max-width: 1134px;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .testimonials_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

@media(min-width: 1920px) {
  .root {
    margin: 350px auto;
  }
}