.app {
  position: relative;
  overflow-x: hidden;
  padding: 10px 30px;
  height: 100vh;
}

.image {
  width: 100vw;
  position: absolute;
  top: -21vh;
  left: 50vw;
  z-index: -1;
}

.image__redBar {
  transform: rotate(90deg);
  position: absolute;
  top: 4000px;
  left: 250px;
  width: 80%;
  z-index: -1;
}

.image__blackCircle {
  position: absolute;
  top: 4156px;
  left: 255px;
  width: 100%;
  z-index: -1;
}

@media(min-width:768px) {
  .image {
    top: -44vh;
    left: 50vw;
  }
}

@media(min-width: 1440px) {
  .app {
    padding: 30px 130px 0 178px;
  }

  .image {
    top: -846.0908203125px;
    left: 960px;
  }

  .image__redBar {
    transform: rotate(90deg);
    position: absolute;
    top: 2366px;
    left: 1329px;
  }

  .image__blackCircle {
    position: absolute;
    top: 3364px;
    left: 1609px;
    width: 55%;
  }
}